<form #newSubdivision="ngForm">
    <div class="subdivision-tuning">
      <div>
        <label>Имя заказа</label>
        <input ngModel name="name" type="text" placeholder="Имя заказа" class="add-name">
      </div>
      <div>
        <label for="select">Исполнитель</label>
        <select [(ngModel)]="selectedEmployee" name="employee" class="add-employee">
          <option *ngFor="let employee of employes" [ngValue]="employee.employeeId">{{employee.name}}</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column main">
      <span *ngIf="isError" class="erorr">Ошибка! Не все поля заполнены..</span>
      <div class="d-flex flex-row-reverse">
        <button (click)="addSubdivision(newSubdivision)" type="button" class="button">Создать</button>
      </div>
    </div>
  </form>