<form #newOrder="ngForm">
    <div class="order-tuning">
      <div>
        <label>Имя заказа</label>
        <input ngModel name="name" type="text" value="{{order.name}}" class="edit-name">
      </div>
      <div>
        <label for="select">Исполнитель</label>
        <select [(ngModel)]="order.employeeId" name="employee" class="edit-employee">
          <option *ngFor="let employee of employes" [ngValue]="employee.employeeId">{{employee.name}}</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column main">
      <span *ngIf="isError" class="erorr">Ошибка! Не все поля заполнены..</span>
      <div class="d-flex flex-row-reverse">
        <button (click)="saveOrder(newOrder)" type="button" class="button">Сохранить</button>
      </div>
    </div>
  </form>