<form #newEmployee="ngForm">
    <p *ngIf="error" class="error">Ошибка на стороне сервера: {{error}}</p>
    <div class="employee-tuning">
      <div>
        <div><input ngModel name="name" placeholder="Имя" type="text" value="{{employee.name}}" class="add-name"></div>
        <div><input ngModel name="surname" placeholder="Фамилия" type="text" value="{{employee.surname}}" class="add-surname"></div>
        <div><input ngModel name="patronymic"  placeholder="Отчество" type="text" value="{{employee.patronymic}}" class="add-patronymic"></div>
      </div>
      <div>
        <label for="select">Подразделение</label>
        <select [(ngModel)]="employee.subdivisionId" name="subdivision" class="add-subdivision">
          <option *ngFor="let subdivision of subdivisions" [ngValue]="subdivision.subdivisionId">{{subdivision.name}}</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column main">
      <span *ngIf="isError" class="erorr">Ошибка! Не все поля заполнены..</span>
      <div class="d-flex flex-row-reverse">
        <button (click)="saveEmployee(newEmployee)" type="button" class="button">Сохранить</button>
      </div>
    </div>
  </form>